* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
}

body {
  font-family: "Raleway", sans-serif;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* @keyframes jump {
  0% {
    bottom: 0%;
    left: 20%;
  }
  50% {
    bottom: 50%;
    left: 50%;
  }

  100% {
    bottom: 00%;
    left: 80%;
  }
} */

header h1 {
  margin: 50px 0px 30px 0px;
  text-align: center;
  font-size: 40px;
}
header p {
  font-size: 25px;
}

.dots {
  background: white;
  width: 100%;
  display: flex;
  border-radius: 20px;
  justify-content: space-evenly;
  
}
.dots > div {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}

.dot1 {
  background: #920000;
}
.dot2 {
  background: #b90000;
}
.dot3 {
  background: #ff0000;
}
.dot4 {
  background: #f53131;
}
.dot5 {
  background: #ffc400;
}
.dot6 {
  background: #fffb00;
}
.dot7{
  background: #ffee00;
}
.dot8 {
  background: #88ff00;
}
.dot9 {
  background: #1eff00;
}
.dot10 {
  background: #00ff6a;
}
.dot11 {
  background: #00ffd5;
}
.dot12 {
  background: #00f5fd;
}
.dot13 {
  background: #00ccff;
}
.dot14 {
  background: #0084ff;
}
.dot15 {
  background: #0059ff;
}
.dot16 {
  background: #1900ff;
}
.dot17 {
  background: #4c00ff;
}
.dot18 {
  background: #9900ff;
}
.dot19 {
  background: #8500b9;
}
.dot20 {
  background: #e100ff;
}
.dot21 {
  background: #ff00c8;
}
.dot22 {
  background: #ff004c;
}
/* .dot23 {
  background: #15c505;
}
.dot24 {
  background: #2fe48f;
} */

.visual > div {
  position: absolute;
  bottom: 0%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transform: scale(1);
  z-index: -1;
}

@keyframes jump {
  0% {
    bottom: 0%;
    left: 20%;
  }
  50% {
    bottom: 50%;
    left: 50%;
  }

  100% {
    bottom: 00%;
    left: 80%;
  }
}

