* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.shell {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.time,
.sound {
  /* height: 80%; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex: 1;
  font-family: Arial, Helvetica, sans-serif;
}
.time button,
.sound button {
  color: white;
  width: 30%;
  height: 10%;
  background: none;
  font-size: 20px;
  border-radius: 50px;
  cursor: pointer;
  border: 2px solid white;
  transition: all 0.5s ease;
  /* border: none; */
  height: 120px;
  width: 120px;
  padding: 30px;
  border-radius: 50%;
}

.sound button {
  border: none;
  height: 120px;
  width: 120px;
  padding: 30px;
  border-radius: 50%;
}
.sound button:nth-child(1) {
  background: #ff45ab;
}
.sound button:nth-child(2) {
  background: #d15bff;
}
.sound button img {
  height: 100%;
}

.time button:hover {
  background: white;
  color: black;
}

.player-container {
  position: relative;
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex: 1;
  /* padding: 300px; */
}

.player-container svg {
  position: absolute;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  pointer-events: none;
  
}
.player-container svg circle {
  transition: all 0.2s ease-in-out;
}
.time-shown {
  color: white;
  position: absolute;
  font-size: 50px;
  bottom: 10%;
  font-family: Arial, Helvetica, sans-serif;
}

video {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  z-index: -10;
  min-width: 100%; 
  min-height: 100%; 
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  
}

.footer{
  position: fixed;  
  left: 10px;  
  bottom: 5px;  
  right: 10px;   
  width: 95%;  
  color: white;  
  text-align: center;  
  display: flex;
  justify-content: space-evenly;
}

.git img{
  height: 50%;
  width: 50%;
}
.footer-logo{
  color: white;
  font-size: 26px;
}